<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="static/css/data.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap" rel="stylesheet">
   
    </head>
    <body>
     
        <section class="header">
            <nav>
                <a href="/"><img src="static/img/lo7.jpeg"></a>
                <div class="nav-links">
                    <ul>
                        <li><a href="/add">ADD STOCKS</a></li>
                        <li><a href="/gainer"> GAINER</a></li>
                        <li><a href="/loser">LOSER</a></li>
                        <li><a href="/logo">LOGOUT</a></li>
                        
                       
                        
                    </UL>
                </div>
            </nav>
            
        </section>
        <div class="text-box">
            <h1> MONEY MANTRA INDIA'S NO.1 STOCK BROKER</h1>
            <p>An investment in knowledge pays the best interest</p>
            <a href="/account"class="hero-btn"> CLICK HERE ABOUT TRADING</a>
            <p> Online investing made easy and rewarding!
Join MoneyMantra trusted by 2 Million+ happy customers.</p>

          </div>
       
    </BODY>
</html>        
            
