<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap" rel="stylesheet">
   
    </head>
    <body>
     
        <section class="header">
            <nav>
                <a href="/"><img src="static/img/lo7.jpeg"></a>
                <div class="nav-links">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/ipo">IPO</a></li>
                        <li><a href="/abt1">ABOUT</a></li>
                        <li><a href="/login">ADMIN</a></li>
                        <li><a href="/user">USER LOGIN</a></li>
                        
                    
                     </UL>
                </div>
            </nav>
            <div class="text-box">
                <h1> MONEY MANTRA INDIA'S NO.1 STOCK BROKER</h1>
                <p>An investment in knowledge pays the best interest</p>
                <a href="/account"class="hero-btn">  ACCOUNT OPENING</a>
                <p> Online investing made easy and rewarding!
Join MoneyMantra trusted by 2 Million+ happy customers.</p>

                <p>Quick Account opening</p> 
                <p>  Don’t let brokerage* eat into your profits!
</p>
Zero Equity charges
₹0*
<p> ₹249*AMC Charges*</p>

₹20
Brokerage* on F&O

<p>Easy and Safe opening an account online with MoneyMantra </p>
        </section>
        
          </div>
          <header>
            
            </header>
            <meta name="viewport" content="width=device-width,initial-scale=1.0">
            <link rel="stylesheet" href="static/css/style6.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap" rel="stylesheet">
            <footer class="footer">
            <div class="l-footer">
            <h1>
            <img src="" alt=" MONEY MANTRA"></h1>
            <p>
                CIN: L67190MH2007PLC289249 | Stock Broker SEBI Regn.: INZ000010231 | SEBI RA Regn.: INH000004680 | SEBI Depository Regn.: IN DP CDSL: IN-DP-192-2016 | AMFI REGN No.: ARN-104096 | NSE Member id: 14300 | BSE Member id: 6363 | MCX Member ID: 55945 | Investment Adviser Regn No: INA000014252 | Registered Address - IIFL House, Sun Infotech Park, Road no. 16V, Plot no. B-23, MIDC, Thane Industrial Area, Waghle Estate, Thane, Maharashtra - 400604.</p>
            </div>
            <ul class="r-footer">
            <li>
              <h2>
            Social</h2>
            <ul class="box">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Pinterest</a></li>
            <li><a href="#">Dribbble</a></li>
            </ul>
            </li>
            <li class="features">
              <h2>
            Information</h2>
            <ul class="box h-box">
            <li><a href="/">Blog</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Raise Tickets</a></li>
            <li><a href="#">Certifications</a></li>
            <li><a href="#">Customer Service</a></li>
            </ul>
            </li>
            <li>
              <h2>
            Legal</h2>
            <ul class="box">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Contract</a></li>
            </ul>
            </li>
            </ul>
            <div class="b-footer">
            <p>
            All rights reserved by ©Money Mantra 2021 </p>
            </div>
            </footer>
            
    </BODY>
</html>        
            
