<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="static/css/ipo.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
    
    <section class="header1">
        <nav>
            <a href="/ipo"><img src="static/img/lo7.jpeg"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="/">HOME</a></li>
                   
                </UL>
            </div>
        </nav>
        <div class="text-box">
            <p> <html>
                <head>
                <style>
                .round{
                border-radius: 10px;
                border: 10px solid rgb(136, 79, 79);
                padding: 100px;
                }
                th, td {
                border-block-end: 1px solid black;
                word-spacing: 0.1cm;
                border-spacing: 10cm;
                }
                </style>
                </head>
                <body>
               
                <table class="round">
                <tr>
                <th> UPCOMING IPOS</th>
                
                <th>DATE</th>
                <th>Issue Price</th>
                </tr>
                <tr>
                <td>Seven Islands Shipping</td>
                <td>2022</td>
                <td>400/-</td>
                </tr>
                <tr>
                <td>PharmEasy</td>
                <td>2022</td>
                <td>850/-</td>
                </tr>
                <td>Bajaj Energy</td>
                <td>2022</td>
                <td>413-</td>
                </tr>
                <tr>
                <td>Utkarsh Small Finance Bank</td>
                <td>2022</td>
                <td>1200-</td>
                </tr>
                </table>
                </body>
                </html>
             </p>
            
    </section>

   
</BODY>