<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="static/css/ipo1.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
    
    <section class="header1">
        <nav>
            <a href="/ipo"><img src="static/img/lo7.jpeg"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="/">HOME</a></li>
                   
                </UL>
            </div>
        </nav>
        <div class="text-box">
            <h1> LOGOUT SUCCESSFUL</h1>
        </div>
       
    </BODY>
</html>        
            
